<div class="accessibilitypage">
    <div class="accessibilitypage__title-container">
        <h1 class="accessibilitypage__page-title">OUR COMMITMENT TO ACCESSIBILITY</h1>
    </div>
    <div class="accessibilitypage__text-image-container">
        <div class="accessibilitypage__text-container">
        <p class="accessibilitypage__text">
        Selima Optique is committed to making the website selimaoptique.com accessible to all visitors. We are in the process of improving the accessibility of selimaoptique.com following the recommendations of the World Wide Web Consortium (W3C) in its Web Content Accessibility Guidelines 2.0 as well as requirements under the Twenty-First Century Communications and Video Accessibility Act of 2010 in order to offer full and equal access to persons with disabilities.<br/><br/>
        If you have difficulty accessing any feature of this website, please email us at <a class="accessibilitypage__mail-link" href="mailto:accessibility@selimaoptique.com">accessibility@selimaoptique.com</a> or call <a class="accessibilitypage__phone-link" href="tel:1-212-677-7690">212 677-7690</a> so we can assist you in person until each and all issues are fixed.
        </p>
        </div>
        <div class="accessibilitypage__image-container">
            {{ 'selima_windows.png' | asset_url | img_tag: 'Selima Windows', 'accessibilitypage__image' }}
        </div>
    </div>
</div>