<div class="customerservicepage">
    <h1 class="customerservicepage__page-title">CUSTOMER SERVICE </h1>
    <div class="customerservicepage__image-text-container">
        <div class="customerservicepage__image-container">
            {{ 'selima_blading.png' | asset_url | img_tag: 'Selima Blading', 'customerservicepage__image' }}
        </div>
        <div class="customerservicepage__text-container">
            <h3 class="customerservicepage__title">Return Policy</h3>
            <p class="customerservicepage__text">
            We're only happy when you love your glasses! So if you decide not to keep your online purchase, we understand. Simply send us an email with your name, address, and invoice number to <a class="customerservicepage__mail-link" href="mailto:info@selimaoptique.com">info@selimaoptique.com</a> within seven days of receiving your shipment. As long as you're within our return policy, we'll email you a Return Authorization Number. Always refer to this number when corresponding with us or shipping your merchandise so that we can expedite your return.<br/><br/>
            Regretfully, we can't accept merchandise for return that is bought on sale or isn't returned in its original condition; and we can't fully credit you without the original casing — so please remember to include your cases and cleaning cloths. We are also unable to reimburse you for the costs of shipping, so be sure to let us know if your glasses aren't right for you before you send them to us. If you have any questions about our policies, please let us know. We're always happy to speak with you.
            </p>
        </div>
    </div>
    <div class="customerservicepage__image-text-container">
        <div class="customerservicepage__image-container customerservicepage__image-container--padded-right">
            {{ 'selima_canvas.png' | asset_url | img_tag: 'Selima Blading', 'customerservicepage__image' }}
        </div>
        <div class="customerservicepage__text-container">
            <h3 class="customerservicepage__title">Customer Orders</h3>
            <p class="customerservicepage__text">
            Is there anything more gratifying than seeing yourself in the perfect pair of frames... crafted just for you? We don't think so! At Selima Optique, we delight in making unique eyewear for unique individuals like you. It is because of this that many of our frames can be made to your specifications. We have an extensive color library of plastic and buffalo horn to craft your Selima Optique frame. They're truly one of a kind!<br/><br/>
            If you're interested in learning more about our custom frame service, we welcome you to contact us at <a class="customerservicepage__mail-link" href="mailto:showroom@selimaoptique.com">showroom@selimaoptique.com</a> and a concierge from our offices will get back to you within 24 hours to discuss the details of your request.
            </p>
        </div>
    </div>
</div>