<div class="privacypolicypage">
    <div class="privacypolicypage__title-container">
        {{ 'bird_stand.png' | asset_url | img_tag: 'Bird Stand', 'privacypolicypage__title-image' }}
        <h1 class="privacypolicypage__page-title">PRIVACY POLICY</h1>
    </div>
    <div class="privacypolicypage__text-image-container">
        <div class="privacypolicypage__text-container">
        <p class="privacypolicypage__text">
        Everyone needs their privacy! And the Selima Optique website takes every precaution to protect customer and user information. We have appropriate security measures in place on the site and in our physical facilities to protect against the loss, misuse, or alteration of any information that we have collected from you. This information is safeguarded and will not be disclosed or marketed. It is intended solely for our use at Selima Optique.<br/><br/>
        Our website is an extension of our retail stores, and as such, the store, online inventory, and customer databases are linked. We do not store credit card numbers from online transactions. Any access to our customer database, shipping, order transaction, customer service, and billing is individually password protected and is limited to those employees who need to perform specific functions in service of our customers.<br/><br/>
        Selima Optique respects the confidential nature of the personal information you provide online. We ask for personal information in order to provide a service that is tailored to your needs. To that end, we will never spam you. You will receive a very limited number of emails from us — and only to share information about upcoming Selima Optique events that we think you may be interested in.<br/><br/>
        </p>
        </div>
        <div class="privacypolicypage__image-container">
            {{ 'selima_windows.png' | asset_url | img_tag: 'Selima Windows', 'privacypolicypage__image' }}
        </div>
    </div>
</div>